.latest-news-area{
    padding: 90px 0;


.news-heading{
    text-align: center;
    display: inline-block;
    margin: auto;
    h2{
        @extend %sectionTitleTwo;
        color: #000000;
        margin-bottom: 60px;
        @include media('mobile-md') {
            margin-bottom: 40px;
          }
    }
    h4{
        display: inline-block;
        text-transform: uppercase;
        color: #000000;
        font-size: 18px;
        margin-bottom: 10px;
        letter-spacing: 1px;
    }


}
.single-news{
    @include media('mobile-xxsm') {
        top: 1022px;
      }
    background-color: $white-color;
    overflow: hidden;
    margin-bottom: 30px;
    @include transition (.5s);
    .news-image{
        position: relative;
        overflow: hidden;
        img{
            width: 100%;
            @include transition (.5s);
        }
       
    }
   
}
.single-news:hover{
        // @include transform (scale(1.02));
        -webkit-box-shadow: 0px 15px 15px 0px #edeaea;
        box-shadow: 0px 15px 15px 0px #edeaea;
        @include transform (translateY(-10px));

}



.news-content{
    h3{
        font-size: 25px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    padding: 20px 20px 25px 20px;
    p{
        font-size: 15.5px;
        line-height: 26px;
    }
    a{
        text-decoration: none;

    }
}


.news-content-heading{
    display: inline-block;
    width: 30%;
    @media all and (min-width: 991px) and (max-width: 1100px) {
        width: 36%;
      }
      @media all and (min-width: 600px) and (max-width: 768px) {
        width: 40%;
      }
     
    @include media('mobile-md') {
        width: 24%;
      }
  
      @include media('mobile-sm') {
        width: 28%;
      }
    @include media('mobile-xsm') {
        width: 35%;
      }
      @include media('mobile-xxsm') {
        width: 40%;
      }
 
      @media all and (min-width: 361px) and (max-width: 400px) {
        width: 32%;
      }

   
    h4{
        a{
            font-size: 13px;
            color: $title-color;
            text-decoration: none;
        }
    }
   
}

.news-date{
    display: inline-block;
    width: 45%;
    span{
        font-size: 13px;
        color: $spn-text-color;
        text-transform: capitalize;
        display: block;
    }
}

.news-bottom{
    background-color: #F9F9FF;
    padding: 8px;
    .news-btn{
        display: inline-block;
        text-transform: uppercase;
        font-size: 13px;
        color: #000000;
        width: 80%;
        padding: 10px 20px;
        @media all and (min-width: 991px) and (max-width: 1100px) {
            width: 75%;
          }
          @media all and (min-width: 575px) and (max-width: 768px) {
            width: 72%;
          }
        @include media('mobile-md') {
            width: 82%;
          }
          @include media('mobile-sm') {
            width: 82%;
          }
          @include media('mobile-xsm') {
            width: 75%;
          }
          @media all and (min-width: 361px) and (max-width: 400px) {
            width: 78%;
          }
      
    }
    a{
        text-decoration: none;
    }
    .news-btn-two{
        width: 20%;
        background-color: #6B6FFF;
        padding: 5px;
        color: $white-color;
        i{
            padding: 5px;
            
        }

    }
}




}